body{
    text-align: center;
}
h1{
    background: rgba(243, 17, 17, 0.51);
    color: #5f4e4e;
    font-size: 50px;
}
h2{
    background: cornflowerblue;
    color: grey;
}
p{
    background: #f6f32f;
    color: #727272;
}
ul{
    background: rgb(62, 57, 57);
    color: white;
}
img{
   width: 300px;
}