.container {
    height: 330px;

    display: flex;
    justify-content: center;

    column-gap: 70px;
}
.leftbox, .rightbox, .topbox {
    width: 300px;

    display: flex;
    flex-direction: column;
    justify-content: flex-end;

    border: 2px solid silver;

    background: white;
}
h2{
    margin: 20px 20px 10px;
    text-align: center;
}
.text  {
    padding: 30px 30px;
    text-align: center;
    color: #797777;
}
.button{
    border: 2px solid grey;
    margin: 0 40px 20px;
    text-align: center;
}